//////////////////////////////
// Layouts
//////////////////////////////

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include bp(alpha) {
    width: 80%;
  }

  @include bp(bravo) {
    width: 70%;
  }

  @include bp(charlie) {
    width: 60%;
  }
}
