//////////////////////////////
// Mixins
//////////////////////////////

// Breakpoint
@mixin bp($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media #{inspect(map-get($breakpoints, $bp))} {
      @content;
    }
  } @else {
    @warn "The breakpoint '#{$bp}' is not in the $breakpoints map.";
  }
}

// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
