//////////////////////////////
// Tags
//////////////////////////////

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $c-black;
  font-family: $f-cabin;
  position: relative;
  overflow: hidden;
}
