//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
$breakpoints: (
  'alpha': (min-width: 500px),
  'bravo': (min-width: 769px),
  'charlie': (min-width: 1025px)
);

// Colors
$c-white: #fff;
$c-black: hsl(215, 5%, 15%);

// Fonts
$f-cabin: 'Cabin', sans-serif;

// Shevy
$shevy: (
  base-font-scale: (2.4, 2.1, 1.8, 1.5, 1.2, 1)
)
