//////////////////////////////
// Header
//////////////////////////////

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: bs(2);

  @include bp(bravo) {
    margin-bottom: bs(3);
  }

  &-heading {
    font-size: 24px;
    margin-bottom: 0;

    @include bp(bravo) {
      font-size: 2.4em;
    }
  }
}
